{% extends 'base.html.twig' %}

{% block title %}Liste d'{{ parent() }}{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="d-inline me-3">{{ title }}</h1> <i class="fas fa-edit"></i>
        <div class="row mt-5">

            <div class="col-12 col-md-8 ps-5">
                <h2 class="mb-4">Nos Animangas :</h2>
                {% for animanga in animangas %}
                <div class="song-list">
                    <div class="d-flex mb-3">
                        <a href="#">
                            <i class="fas fa-play me-3"></i>
                        </a>
                        <span class="song-details">{{ animanga.nom }} - {{ animanga.episodes }}</span>
                        <a href="#">
                            <i class="fas fa-bars mx-3"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                </div>
                {% endfor %}

                <button type="button" class="btn btn-success"><i class="fas fa-plus"></i> Add an anime or manga</button>
            </div>
        </div>
    </div>
{% endblock %}