{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {% endblock %}

{% block body %}

    <h1>User: {{user.username}}</h1>

    {% for singleAvis in avis %}
           <p class="mt-2"><strong>{{ singleAvis.comment }}</strong> on {{singleAvis.id}}</p>
    {% endfor %}
</div>
{% endblock %}
